option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01_install_composer_dependencies:
    command: "sudo php /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/staging"

  03_run_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/staging"
    leader_only: true

  04_run_dbseed:
    command: "php artisan db:seed --force"
    cwd: "/var/app/staging"
    leader_only: true

  10_deploy_hook_permissions:
    command: |
      sudo find .platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
      sudo find /var/app/staging/.platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
